<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.foi.air.studentattendancesystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".attendance.ModuleActivity"></activity>
        <activity android:name=".uiprofesor.CheckAttendance" />
        <activity android:name=".uiprofesor.ListOfSeminars" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".uiprofesor.AddSeminar" />
        <activity android:name=".uiprofesor.AddLab" />
        <activity android:name=".uiprofesor.ListOfLabs" />
        <activity android:name=".LoginStudent" />
        <activity android:name=".uistudent.SeminarList" />
        <activity android:name=".LoginProfesor" />
        <activity android:name=".uistudent.LabsList" />
        <activity android:name=".uiprofesor.ScheduleProfesor" />
        <activity android:name=".uiprofesor.ScheduleForDayProfesor" />
        <activity android:name=".uistudent.ScheduleStudent" />
        <activity android:name=".uistudent.ScheduleForDayStudent" />
        <activity android:name=".uiprofesor.AddCourse" />
        <activity android:name=".uiprofesor.AddCourseToProfessor" />
        <activity android:name=".uiprofesor.AddLecture" />
        <activity android:name=".uiprofesor.ChangeCourse" />
        <activity android:name=".uiprofesor.ListOfCourses" />
        <activity android:name=".uiprofesor.ListOfLectures" />
        <activity android:name=".uistudent.ListCourses" />
        <activity android:name=".uistudent.LecturesList" />
        <activity android:name=".uistudent.AddCourseToStudent" />
        <activity android:name=".uistudent.LabsBooking" />
        <activity android:name=".uistudent.Attendance" />
        <activity android:name=".uistudent.AttendanceList" />
        <activity android:name=".attendance.profesor.PasswordActivity" />
    </application>

</manifest>